<div class="container mt-4">
  <h2 class="text-center text-white bg-dark p-3 rounded mb-4">Top 100 Mejores Películas</h2>

  <div class="text-center mb-5" *ngIf="listaPeliculas.length === 0">
    <button class="btn btn-success btn-lg shadow" (click)="obtenerPeliculas()" [disabled]="cargando">
      <span *ngIf="!cargando">Cargar Películas</span>
      <span *ngIf="cargando">Buscando en la API...</span>
    </button>
  </div>

  <div class="row" *ngIf="listaPeliculas.length > 0">
    <div class="col-md-4 mb-4" *ngFor="let peli of listaPeliculas">
      
      <div class="card h-100 shadow">
        <img [src]="peli.image" 
             (error)="peli.image='https://via.placeholder.com/380x562?text=Sin+Poster'" 
             class="card-img-top" 
             alt="Poster de {{ peli.title }}">
        
        <div class="card-body">
          <h5 class="card-title text-primary">{{ peli.title }}</h5>
          <p class="card-text text-muted">{{ peli.description }}</p>
        </div>
        
        <div class="card-footer bg-transparent">
          <small class="text-muted fw-bold">Puesto #{{ peli.rank }}</small>
        </div>
      </div>

    </div>
  </div>
</div>